<body class="is-preload">

  <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
        <header id="header">
          <div class="logo">
            <span class="icon fa-heart"></span>
          </div>
          <div class="content">
            <div class="inner">
              <h1>桃鈴ねね非公式ファンサイト</h1>
              <p>ホロライブ 5期生 桃鈴ねねちゃんを応援する"非公式"ファンサイトです。<br><a class="author" href="https://twitter.com/hmn_mrr">TOP画作成:meri/めり</a></p>
            </div>
          </div>
          <nav>
            <ul>
              <li><a href="#news">news</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#archives">Archives</a></li>
              <li><a href="#musics">Musics</a></li>
              <li><a href="#clips">Clips</a></li>
              <li><a href="#fanarts">Fan Arts</a></li>
              <li><a href="#link">link</li>
            </ul>
          </nav>
        </header>

      <!-- Main -->
        <div id="main">
          <!-- news -->
            <article id="news">
              <h2 class="major">News</h2>

              <h3>『ブレソル』×『ホロライブ』コラボ企画に参加決定!!</h3>
              <%= image_tag "bravesoul.jpeg" , :class => "music_img" %>
              <p>大人気コミックをTVアニメ化した作品『BLEACH』を題材とした爽快3Dアクションゲーム『BLEACH Brave Souls』とホロライブのコラボが決定!<br>本コラボ企画では兎田ぺこら、星街すいせいと『ブレソル』のゲームプレイを生配信を公開する予定とのことです!!</p>
              <ul class="actions">
                <li><%= link_to "詳しくはこちらから","https://prtimes.jp/main/html/rd/p/000000487.000006348.html", target: :_blank, class: :button %></li>
              </ul>

              <h3>2021/6/26 Cinderella switch出演決定!!</h3>
              <%= image_tag "vark.png" , :class => "music_img" %>
              <ul class="actions">
                <li><%= link_to "詳しくはこちらから","https://lp.vark.co.jp/futaride_miru_hololive/", target: :_blank, class: :button %></li>
              </ul>
              <h3>新ユニット「NEGI☆U」結成＆TVアニメ『ジャヒー様はくじけない！』EDに起用決定!</h3>
              <%= image_tag "negiu.jpeg" , :class => "music_img" %>
              <p>大空スバル、湊あくあと新ユニット結成!その名も『NEGI☆U』(ねぎゆー)<br>9/1に1stシングル「つまりはいつもくじけない！」のリリースも決定!各取り扱い店舗にて、6/14より順次予約受付を開始しているとのこと。<br>また表題曲は7/31より毎週土曜深夜2：00からABCテレビ・テレビ朝日系列全国24局ネットで放送予定のTVアニメ『ジャヒー様はくじけない！』第1クールEDテーマに決定!</p>
              <ul class="actions">
                <li><%= link_to "詳しくはこちらから","https://prtimes.jp/main/html/rd/p/000000435.000030268.html", target: :_blank, class: :button %></li>
              </ul>
            </article>

          <!-- about-->
            <article id="about">
              <h2 class="major">About</h2>
              <span class="image main">
              <%= image_tag "header.png" %>
              </span>
              <h3>公式紹介文</h3>
              <blockquote>アイドルにあこがれて、異世界からやってきた女の子。<br>歌って踊ることとお絵描きが大好き。<br>たくさんの人に愛される存在になるべく、日々特訓中。</blockquote>
              <p>ホロライブ5期生 オレンジ担当。性格、話し方ともに天真爛漫だが、頭は小学生男児で「う○ち」や「お○っこ」というワードに過剰に反応する傾向がある。ホロライブの他メンバーからは妹、末っ子のように可愛がられているが、「アイドルにあこがれて」という目標に向けて、1日6時間のダンスレッスンを連日こなすなど、歌やダンスに対する努力に対しては妥協なく取り組み、ホロライブトップクラスの水準の歌唱力とダンスパフォーマンス力を誇る。配信スタイルは昼間の配信は一緒にお昼を食べながら雑談したりと雑談スタイルが多い。夜はゲーム配信が多く、歌枠、雑談枠も不定期で行っている。スーパーチャットのお礼を特典会と称し、ほぼ全ての枠で行っているが、画面上がカオスになったり、即興のオリジナルソングが生まれることから、ファンからは「特典会が本編」と言われている。</p>
              <ul class="actions">
                <li><a href="#info" class="button">詳しくはこちらから</a></li>
              </ul>
              <h3>略歴</h3>
              <h4>2020年</h4>
              <ul>
                <li>8/6 Twitter初投稿</li>
                <li><span class="image main"><%= image_tag "20200813.jpeg" %></span><a href="#">8/13 配信初投稿</a></li>
                <li><span class="image main"><%= image_tag "20200814.jpeg" %></span>8/14 YouTubeチャンネル登録者数10万人突破</li>
                <li><a href="#"><span class="image main">><%= image_tag "20200911.png" %></span>9/11 メンバーシップ解禁</a></li>
                <li>9/11 YouTubeチャンネル登録者数20万人突破</li>
                <li><span class="image main"><%= image_tag "20201031.png" %></span>10/31 どっきりラビリンス結成、「<a href="#">さぷらいずぱらだいす！</a>」投稿</li>
                <li><span class="image main"><%= image_tag "20201115.jpeg" %></span>11/15 YouTubeチャンネル登録者数30万人突破</li>
                <li><span class="image main"><%= image_tag "20201222.jpeg" %></span>12/22 hololive 2nd fes. Beyond the Stage Supported By Bushiroad STAGE2 影ナレ担当</li>
              </ul>
              <h4>2021年</h4>
              <ul>
                <li><span class="image main"><%= image_tag "20210118.png" %></span>1/18 YouTubeチャンネル登録者数40万人突破</li>
                <li><span class="image main"><%= image_tag "20210131.jpeg" %></span>1/31 <a href="#">新ビジュアル発表会</a></li>
                <li><span class="image main"><%= image_tag "20210302.jpeg" %></span>3/2 誕生日</li>
                <li><span class="image main"><%= image_tag "20210303.jpeg" %></span>3/3 1stオリジナルソング <a href="#">「ねねねねねねねね！大爆走！」</a>リリース</li>
                <li><span class="image main"><%= image_tag "20210418.jpeg" %></span>4/18 <a href="#">3Dモデルお披露目生放送</a></li>
                <li><span class="image main"><%= image_tag "20210419.jpeg" %></span>4/19 2ndオリジナルソング <a href="#">「Lunch with me」</a>リリース</li>
                <li><span class="image main"><%= image_tag "20210510.jpeg" %></span>5/10 YouTubeチャンネル登録者数60万人突破</li>
              </ul>
            </article>

          <!-- archives -->
            <article id="archives">
              <h2 class="major">Archives</h2>
              <h3>オススメ動画</h3>
              	<div class="archive">
                  <%= render partial: "archivetop" , collection: @archivetop %>
                </div>
              <ul class="actions">
                <li><%= link_to 'その他のアーカイブはこちらから' , archive_index_path , class: :button %></li>
              </ul>
            </article>

          <!-- musics -->
            <article id="musics">
              <h2 class="major">MUSICS</h2>
              <h3><span class="musictitle">2ndオリジナルソング</span><br>Lunch with me</h3>
              <%= image_tag "lunchwithme.png",class:"music_img" %>
              <ul class="actions">
                <li><%= link_to "視聴はこちらから","https://nene.streamlink.to/Lunchwithme", target: :_blank, class: :button %></li>
              </ul>
              <h3><span class="musictitle">1stオリジナルソング</span><br>Lunch with me</h3>
              <%= image_tag "daibakusou.png",class:"music_img" %>
              <ul class="actions">
                <li><%= link_to "視聴はこちらから","https://nene.streamlink.to/DAIBAKUSOU", target: :_blank, class: :button %></li>
              </ul>
              <h3><span class="musictitle">5期生オリジナルソング</span><br>BLUE CLAPPER</h3>
              <%= image_tag "blueclapper.png" , class:"music_img" %>
              <ul class="actions">
                <li><%= link_to "視聴はこちらから","https://hip.fanlink.to/bc", target: :_blank, class: :button %></li>
              </ul>
              <h3><span class="musictitle">どっきりラビリンス</span><br>さぷらいずぱらだいす！</h3>
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/CrbMV64PmPU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <h2 class="major">COVERS</h2>
              <h3>【歌ってみた】うっせぇわ【Covered by桃鈴ねね】</h3>
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/avbKac24efo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <h3>【歌ってみた】私、アイドル宣言【ホロライブ/桃鈴ねね(cover)】</h3>
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/kKqcQADSoIM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <ul class="actions">
                <li><%= link_to 'その他歌枠のまとめはこちらから' , music_index_path , class: :button %></li>
              </ul>
            </article>

          <!-- clips -->
            <article id="clips">
              <h3>オススメ動画</h3>
              <div class="archive">
                  <%= render partial: "cliptop" , collection: @cliptop %>
              </div>
              <ul class="actions">
                <li><%= link_to 'その他の切り抜き動画はこちらから' , clip_index_path , class: :button %></li>
              </ul>
            </article>

          <!-- fanarts -->
            <article id="fanarts">
            <h2 class="major">FAN ARTS</h2>
              <%= render partial: "fanarttop" , collection: @fanarttop %>
              <ul class="actions">
                <li><%= link_to 'その他のファンアートはこちらから' , fanart_index_path , class: :button %></li>
              </ul>
            </article>

            <!-- link-->
            <article id="link">
              <h2 class="major">link</h2>
                <ul>
                  <li><span class="image main"><%=image_tag "YouTube.png" %></span>桃鈴ねねYouTubeアカウント</li>
                  <ul class="actions">
                    <li><%= link_to "こちらからチャンネル登録!","https://www.youtube.com/channel/UCAWSyEs_Io8MtpY3m-zqILA", target: :_blank, class: :button %></li>
                  </ul>
                  <li><span class="image main"><%= image_tag "twitter.png" %></span>桃鈴ねねTwitterアカウント</li>
                  <ul class="actions">
                    <li><%= link_to "こちらからフォロー!","https://twitter.com/momosuzunene", target: :_blank, class: :button %></li>
                  </ul>
                </ul>
            </article>
            <!--aboutshow-->
            <article id="info">
              <h2 class="major">自己紹介詳細</h2>
              <span class="image main"><%= image_tag "header.png" %></span>
              <div class="table-wrapper">
                <table>
                  <tbody>
                    <tr>
                      <td>ハッシュタグ</td>
                      <td>放送タグ #ねねいろらいぶ<br>アートタグ #ねねアルバム<br>5期生 #ほろふぁいぶ #ねぽらぼ</td>
                    </tr>
                    <tr>
                      <td>ファンネーム</td>
                      <td>ねっ子（ハズバンド）</td>
                    </tr>
                    <tr>
                      <td>推しマーク</td>
                      <td>🥟</td>
                    </tr>
                    <tr>
                      <td>デザイン</td>
                      <td><%= link_to "西沢5㍉","https://twitter.com/wanwangomigomi" %></td>
                    </tr>
                    <tr>
                      <td>Live2D</td>
                      <td><%= link_to "Date(ﾀﾞﾃ)","https://twitter.com/date_list" %></td>
                    </tr>
                    <tr>
                      <td>Live2D(新衣装)</td>
                      <td><%= link_to "入江燈","https://twitter.com/tou_ilie" %></td>
                    </tr>
                    <tr>
                      <td>3Dモデラー</td>
                      <td><%= link_to "八剣","https://twitter.com/yatsurugi_mmd" %></td>
                    </tr>
                    <tr>
                      <td>身長</td>
                      <td>159cm</td>
                    </tr>
                    <tr>
                      <td>血液型</td>
                      <td>A型</td>
                    </tr>
                    <tr>
                      <td>利き腕</td>
                      <td>両利き（右でも左でも同じクオリティの文字が書ける）</td>
                    </tr>
                    <tr>
                      <td>誕生日</td>
                      <td>3/2</td>
                    </tr>
                    <tr>
                      <td>デビュー日</td>
                      <td>2020/8/13</td>
                    </tr>
                    <tr>
                      <td>好きなこと</td>
                      <td>歌うこと、踊ること、お絵かき、ねっ子を瓶詰めにすること</td>
                    </tr>
                    <tr>
                      <td>好きな食べ物／飲み物</td>
                      <td>ジュース（特にデカビタ）、お菓子（笛ラムネなど幼稚なものが好き）</td>
                    </tr>
                    <tr>
                      <td>嫌いな食べ物</td>
                      <td>野菜、パイナップルの乗ったピザ</td>
                    </tr>
                    <tr>
                      <td>好きなアニメ</td>
                      <td>銀魂、BLEACH、アイドルマスターシンデレラガールズ、バカとテストと召喚獣</td>
                    </tr>
                    <tr>
                      <td>好きなゲーム</td>
                      <td>甲虫王者ムシキング、リズムゲームは得意</td>
                    </tr>
                    <tr>
                      <td>配信時の挨拶</td>
                      <td>こんねねー！</td>
                    </tr>
                    <tr>
                      <td>配信終了時の挨拶</td>
                      <td>またねねー！</td>
                    </tr>
                  </tbody>
                </table>
                <h3>プロフィール詳細</h3>
                  <ul>
                    <li>タオタオ星からアイドルを目指しており、配信始まった当初は語尾に「ある」がついていたが、今は99%ついていない。</li>
                    <li>天真爛漫な性格で先輩、同期問わず、妹キャラ、ペットキャラとして見られている。</li>
                    <li>またどんな放送でもお腹が空いたら、お菓子を食べるなど、自由奔放。</li>
                    <li>だが、放送中に「うんぴっぴー」と言ったり、常闇トワの俳句の「握りっぺ」「黄色汁」や過剰に反応したり、公式からも「頭は小学生」と言われるほど、小学生男児の頭をしている。</li>
                    <li>日々の放送では本編（ゲームや歌）が約1時間、その後のスーパーチャットのお礼を「特典会」と称し、基本的にその日のスーパーチャットはその日の「特典会」で読み上げられる。</li>
                    <li>しかし、特典会では過去に作成したピザに足と顔が生えた「ねねピザ」や桃鈴ねねの脇から大量の水が出ている独創的な絵を画面いっぱいに展開することからファンからは「今何しているんですか？」や「特典会が本編」と言われている。</li>
                    <li>海外からのスーパーチャットも中身まで読み上げ、特に海外ファンから「離婚して欲しい」というスーパーチャットに泣き顔やかわいい顔をして止めさせる。</li>
                    <li>「浮気OK」などと他のライバーの配信への理解もある一方で、「ねねを困らせないで」と言ったり、ファンからの「好き」という言葉に激しく喜んだり、きちんと女の子としての一面もある。</li>
                    <li>同期の雪花ラミィの汗を「ラミィの脇水」と称し、リスナーに販売しようとしたり、ゲーム ポケモンスナップで自分の性癖を晒す。その際、ファンからは「ねねおじ」と呼ばれている。</li>
                    <li>声真似やモノマネのクオリティは低く、「イケボを出す」と言っておじさんみたいな声を出したり、ホロライブメンバーのモノマネはもはや桃鈴ねねがただそのセリフを行っただけになっている。</li>
                    <li>しかし「アイドルになる」という目標達成に向けた努力は凄まじく、連日6時間以上のダンスレッスンも行うなど、弛まぬ努力でホロライブトップクラスのパフォーマンス力を誇る。</li>
                    <li>その証拠に、2021/4/21 3Dモデルお披露目生放送では同時接続10万人以上を記録している。</li>
                    <li>また日々の放送をより良い放送にしようとYouTubeのメンバーシップ限定で「ねねプロ総会」という放送を不定期で行い、辛辣な意見も全て聞き入れるなど、「ねっ子ファースト」で行動している。</li>
                    <li>新衣装はデザイナーの西沢5㍉氏の要望もあり、胸の部分が桃柄にはだけており、「ももパイ」と称されいる。</li>
                    <li>好きな男性像は銀魂の坂田銀時。</li>
                    <li>好きな漫画の影響か、普段の放送とアイドルしている時のギャップがあり、まるで銀魂の坂田銀時のようなギャグ漫画の主人公キャラのような人物である。</li>
                  </ul>
              </div>


            </article>
        </div>
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
      <!-- Footer -->
        <footer id="footer">
          <p>ホロライブ所属アイドルVTuber 桃鈴ねねさんの⾮公式ファンサイトです。<br>
            カバー株式会社様、およびホロライブプロダクションとは⼀切関係ありません。
          <br>当サイトで使⽤している画像の著作権・肖像権等は各権利者に帰属いたします。</p>
        </footer>

    </div>

  <!-- BG -->
    <div id="bg"></div>

  <!-- Scripts -->
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--<script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>-->

</body>